/* input {
    width: 200%;
} */

/* .container #output {
    display: table;
    margin: 120px 0 0 0;
    border: dotted;
}   */

.container {
    border: dotted;
    background: #ece63d;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
  }

.output {
      display: flex;
  }


.del {
    float: right;
    text-align: center;

}

.cross{
    margin-left: auto;

}

.strike {
text-decoration: line-through;
}

.plain {
    text-decoration: black;
}

